hr {
    margin: 0; /*hr é pra dar uma linha de separação, tiramos a margem para tirar todo o espaçamento ao redor dela e ficar só a linha */
}
.rodape {
    background-color: var(--branco);
    padding: 1em;
}
.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around; /* space-around cria um espaço por igual em todos flex itens e entre eles e a borda da pagina*/
    }
    .lista-rodape {
        display: block;
    }
    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }
    .lista-rodape__link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
        margin: 2em;
    }
    .lista-rodape__item:hover {
        background-color: var(--cinza-clarissimo);
        border-radius: 40px;
        padding: 2px 7px;
    }
    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }
    .rodape__titulo {
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }
    .rodape {
        padding: 3em 0;
    }
}